[preset.0]

name="Windows Desktop"
platform="Windows Desktop"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
; 只打包本地化资源。用 all_resources 会把 obj/、.godot/、project.binary 一起塞进去，又臃肿又可能干扰游戏。
export_filter="resources"
include_filter="__MODID__/localization/*"
exclude_filter=""
export_files=PackedStringArray()
export_path="Build/__MODID__.pck"
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false

[preset.0.options]

binary_format/embed_pck=false
binary_format/architecture="x86_64"
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false
